.button {
  display: inline-block;
  background-color: var(--bg-color-secondary);
  color: var(--text-color-light);
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.2px;
  padding: 20px 65px;
  border-radius: 35px;
  transition: 0.5s;
  border: 1px solid transparent;

  &:hover {
    transition: 0.5s;
    background-color: var(--hover-color-primary);
    color: var(--hover-color-secondary);
    border: 1px solid var(--hover-color-secondary);
  }
}
