.organize {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;

  .organize-text__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .organize-text__box-title {
      font-weight: 400;
      max-width: 320px;
      font-size: 48px;
      line-height: 55px;
      letter-spacing: 0.2px;
      margin: 0 auto 30px;
    }

    .organize-text__box-description {
      font-size: 28px;
      line-height: 40px;
      letter-spacing: 0.2px;
      max-width: 280px;
      height: 80px;
      overflow: hidden;
      margin: 0 auto 50px;
    }
  }
}

@media (min-width: 945px) {
  .organize {
    flex-wrap: nowrap;
    justify-content: space-between;

    .organize-text__box {
      align-items: flex-start;
      text-align: left;
      .organize-text__box-title {
        max-width: 500px;
      }

      .organize-text__box-description {
        max-width: 510px;
        height: 120px;
      }
    }
  }
}
