header {
    margin-left: auto;
    margin-right: auto;
    max-width: 1800px;
    height: 1050px;
    background-image: url(img/backimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

nav {
    padding-top: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

ul {
    list-style: none;
    padding-right: 50px;
}

li {
    display: inline-block;
    color: #ffffff;
    margin: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

h1,
p {
    color: #ffffff;
}

h1 {
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 670px;
    font-size: 72px;
}

button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.features {
    text-align: center;
}

.features p {
    color: #000;
}

.features-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.features-text div {
    width: 150px;
    padding: 20px;
}

.screen {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    height: 660px;
}

.organize {
    padding-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.organize-text p {
    color: #000;
}

.prototyp {
    padding-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.prototyp-text p {
    color: #000;
}

.partners {
    padding-top: 200px;
    text-align: center;
}

.partners button {
    margin-top: 20px;
}

.partners p {
    color: #000;
}

.partners-items-first,
.partners-items-second {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.partners-item {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #D8D8D8;
}

.ibm {
    padding-top: 200px;
    text-align: center;
}

.ibm p {
    color: #000;
}

.ibm-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px;
}

.ibm-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ibm-text p {
    margin: 0;
    padding: 0;
}

.ibm button {
    margin-top: 20px;
}

.pricing {
    margin-top: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #252B42;
}

.pricing h2 {
    color: #ffffff;
}

.pricing-colums {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pricing-colum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 5px;
    padding-right: 5px;
    height: 600px;
}

.pricing-colum p {
    color: #000;
}

.pricing-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.price {
    font-size: 35px;
    margin: 0;
    padding: 0;
}

.pricing-price-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pricing-price-text p {
    margin: 0;
    padding: 0;
    margin-left: 5px;
}

.pricing-colum-centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2091F9;
    padding-left: 5px;
    padding-right: 5px;
    height: 700px;
}

.pricing-colum-centre h3 {
    color: #ffffff;
}

.contact {
    padding-top: 200px;
    text-align: center;
}

.contact p {
    color: #000;
}

.contact-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form input {
    margin-top: 30px;
}

.contact-form textarea {
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact-social {
    display: flex;
}

.footer {
    margin-top: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #252B42;
}

.footer h4 {
    color: #ffffff;
}

.footer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.adress-box {
    display: flex;
}