header {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 1200px;
    background-image: url(img/backimg.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

ul {
    list-style: none;
    padding-right: 50px;
}

li {
    display: inline-block;
    color: #ffffff;
    }
    h1, p {
              color: #ffffff;    
    }
    button {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }